$math-tb-primary = #4C1787;
$math-tb-primary--light = #7925DA;
$math-tb-primary--dark = #3D126D;


.tab-content {
	display: none;
}
.tab-content.isActive {
	display: block;
}
.fake-footer, .fake-header {
	position: relative;
	
	img {
		position: relative;
		left: 50%;
		transform: translateX(-50%)
	}
}
.thumbnail-container.thumbnail-loading, .thumbnail-container.no-thumbnail {
	height: auto;
}

.hero {
    background-image: linear-gradient(-180deg,rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,1)), url(../images/hero.png);
}

#techbook-app.math-techbook {
	
	.fake-interactive {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.hero .hero-inner .breadcrumbs ol li a {
		color: $math-tb-primary--light;
	}
	.five-e-row .tabs li.selected {
		border-bottom: 0.5rem solid $math-tb-primary;
	}
	.submitTEI {
		background: #4c1787;
		
		&:hover{
			background: #3D126D;
		}
	}
	.alert-box.essential-question .alert-box-heading {
		color: #4c1787;
	}
	.thumbnail-container.no-thumbnail {
		background: #4c1787;
		border-radius: 0.3em 0.3em 0 0;
	}
	.footer-pagination .cit-row-inner .footer-pagination-control:hover {
		background: #4c1787;
	}
	
	#investigate {

		.cit-row .cit-row-inner .cit-rich-copy {
			margin-bottom: 0;
		}
		.dark-row-inner {
			background-color: #fff;
		}
		.card-grid:not(.card-grid__single) .asset-card {
			background-color: #f2f2f2;
			box-shadow: 0 0 0.2rem 0 rgba(0,0,0,0.12), 0 0.1rem 0.3rem 0 rgba(0,0,0,0.15);
		}
		.cit-plugin.embed-launch-button h4, .card-grid .card__title, .asset-gallery .card__title, .card-grid .card__caption, .asset-gallery .card__caption, .cit-rich-copy .embedded-media .caption, .rich-copy .embedded-media .caption, .cit-rich-copy .embed-img-wrap .image-caption, .rich-copy .embed-img-wrap .image-caption, .card-grid .card__attachment-title, .asset-gallery .card__attachment-title {
			color: #222;
		}
		.card-grid .card__attachment-icon-container svg, .asset-gallery .card__attachment-icon-container svg {
			fill: #222;
		}
	}

}

html input[type="button"]:hover, html input[type="submit"]:hover, html button:hover, .cit-plugin.inline-asset.assessment-discover:not(.embedded-media) .footer-discover .bottom-nav a:hover, .cit-plugin.inline-asset.assessment-discover .tei-container .btn-primary.btn.rubric-button:hover, .cit-plugin.inline-asset.assessment-discover .tei-container .btn-primary.btn.hide-rubric-button:hover, .cit-plugin.inline-asset.assessment-discover div.tei-attachments .btn.attach:hover, .modal-container .footer .save-modal:hover, .modal-container .footer .dismiss-modal:hover, .modal-container .view .download-video a:hover, .modal-container .view .download-cc:hover, .bootstrapped.modal.clear-my-answers-confirm .btn-primary:hover, .bootstrapped.modal.clear-my-answers-confirm .btn-default:hover {
		background: #4c1787;
	}
	
	.cit-media-gallery {
		.thumbnail-container {
			width: 309px !important;
			height: 157px !important;
		}
	}